@font-face {
  font-family: "Marksman";
  src: url(./public/Marksman.otf);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  color: white;
  background-color: black;
  background-image: url(./public/bg.jpg);
  background-position-x: center;
  background-repeat: repeat;
  font-size: 200%;
  font-family: 'Marksman';
}

#page-shadow {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -10;
  max-height: 100%;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 300px;
}

header img {
  max-width: 90%;
  width: 700px;
  margin: auto;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: normal;
}

main {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 1000px;
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
}

main>section {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  max-width: 50vw;
  justify-content: space-between;

  padding: 1rem;
  background: #020a11;
  border: 4px dashed #9e2630;

  filter: drop-shadow(1px 2px 8px hsl(220deg 60% 20% / 0.3)) drop-shadow(2px 4px 16px hsl(220deg 60% 20% / 0.3)) drop-shadow(4px 8px 32px hsl(220deg 60% 20% / 0.3));
}

nav ul li {
  margin: 0 1rem;
}

nav ul a {
  width: 6rem;
  height: 6rem;
  padding: 0.2rem;
  max-width: 10vw;
  max-height: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-decoration: none;
  color: #9e2630;
}

.floating:hover {
  background: #eef4c6;
}

.pixel-icon {
  image-rendering: pixelated;
  width: 70%;
  height: 70%;
}

#cobweb {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.7;
}

#leshy {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 330px;
  margin-bottom: 7rem;
  max-width: 100%;
}

#eyes {
  display: flex;
  justify-content: space-between;
  width: 300px;
  animation-name: default-zoom;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.eye {
  animation-name: spin-clockwise;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.eye.left {
  animation-direction: reverse;
  animation-delay: -0.3s;
}

#foo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}


@keyframes spin-clockwise {
  from {
    transform: rotate(0deg) scale(0.7)
  }

  to {
    transform: rotate(360deg) scale(0.7)
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0)
  }

  to {
    transform: translate(0, -5%)
  }
}

nav {
  animation-name: nav-zoom;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

@keyframes nav-zoom {
  from {
    transform: scale(0.8)
  }

  to {
    transform: scale(1);
  }
}

.hands {
  animation-name: default-zoom;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  position: absolute;

  top: -40px;
  z-index: -1;
}

.hands>img {
  animation-name: hands-wobble;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes default-zoom {
  from {
    transform: scale(0.6);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hands-wobble {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.95);
  }
}

footer {
  margin-top: 5rem;
  height: 12rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url(./public/leshy/table.png);
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  font-size: 0.8em;
  color: #eee;
}

footer ul {
  width: 60%;
  filter: drop-shadow(0 0 1rem rgb(30, 15, 10)) drop-shadow(0 0 1rem rgb(30, 15, 10)) drop-shadow(0 0 1rem rgb(30, 15, 10));
}

footer a {
  color:#B86D41
}

.featured-projects {
  text-align: center;
}

.featured-projects>a {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 220px;
  margin: 1rem 10px;
  text-decoration: none;
  color: white;
}

.featured-projects>a>.image-wrapper {
  height: 190px;
}

.featured-projects>a>.image-wrapper>img {
  max-width: none;
  height: 100%;
}

.featured-projects .author {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  
  #cobweb {
    height: 20vmin;
  }

  header {
    height: 30vw;
  }

  header h1 {
    font-size: 15vw;
  }

  header h1 span.fan-made {
    font-size: 0.4em;
  }

  #leshy {
    height: initial;
    margin-bottom: 5vw;
    justify-content: center;
  }

  #eyes {
    width: 27vw;
  }

  .eye {
    width: 10vw;
    height: 10vw;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin: 1rem 2rem;
  }
}
