@font-face {
  font-family: 'Marksman';
  src: url(./public/Marksman.otf);
}

:root {
  color-scheme: dark;
}

body {
  font-family: Times, serif;
  background-image: url("./public/bg.jpg");
  background-size: 500px 500px;
}

header, main {
  max-width: 80ch;
  margin: auto;
}

h1 {
  font-size: min(7em, 16vw);
}

h2 {
  margin-block-end: 0.4em;
}

header {
  margin: 2em auto;
}